/* Styles spécifiques pour la page d'annulation de sortie */

body {
    font-family: 'Arial', sans-serif;
    background-color: #edf5ff; /* Bleu ciel très pâle */
    margin: 0;
    padding: 0;
}

.annulation {
    max-width: 800px;
    margin: 5% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db; /* Bleu principal */
}

.bordureP {
    border: 1px solid #3498db; /* Bordure bleue */
    padding: 10px;
    text-align: center;
}

form {
    margin-top: 20px;
}

/* Bouton Enregistrer */
button[type="submit"] {
    background-color: #3498db; /* Bleu principal - Bouton principal */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #2980b9; /* Bleu plus foncé au survol */
}

/* Bouton Annuler */
a button[type="button"] {
    background-color: #e74c3c; /* Rouge - Bouton Annuler */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

a button[type="button"]:hover {
    background-color: #c0392b; /* Rouge plus foncé au survol */
}

.formulaireAnnulation{
    width: 200%;
    margin-left: -50%;
}