/* Ajoutez votre style spécifique pour la liste de sortie ici */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dcdcdc; /* Bordures grises */
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db; /* Bleu plus foncé - Fond pour les entêtes */
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5; /* Gris clair au survol des lignes */
}

article {
    display: block;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #3498db; /* Couleur bleue */
    color: #fff; /* Texte blanc */
    border: none;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

.action-links a {
    margin-right: 10px;
    color: #3498db; /* Couleur bleue pour les liens d'action */
    text-decoration: none;
    padding: 5px;
    border: 1px solid #3498db; /* Bordure bleue pour les liens d'action */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-links a:hover {
    background-color: #3498db; /* Couleur bleue au survol des liens d'action */
    color: #fff; /* Texte blanc au survol des liens d'action */
    text-decoration: none;
}

.alert-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #e74c3c; /* Rouge - Fond pour les messages d'alerte */
    color: #fff;
    border-radius: 5px;
}
