.profil {
    width: 40%;
    margin: 1% 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.profil h5, .profil h1 {
    font-family: 'Handlee', cursive;
}

.profil h1 {
    margin-left: 36%;
}


.ligneProfil h5 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
}

.ligneProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.ligneProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.ligneProfil p.bordureP {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 0;
    flex-grow: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


