header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px; /* Ajuster la marge selon votre mise en page */
}

nav {
    margin-right: 20px; /* Ajuster la marge selon votre mise en page */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pour occuper toute la hauteur de la fenêtre */
}
