{% extends 'base.html.twig' %}


{% block css %}
    <style>
        .table-container {
            max-width: 400px;
            max-height: 300px;
            overflow-y: auto; /* Ajoute un défilement horizontal */
            white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
            margin-left: 50px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .edit-button,
        .delete-button {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            color: blue; /* Couleur du texte pour les boutons */
            text-decoration: underline; /* Soulignement des liens */
        }

        .edit-button:hover,
        .delete-button:hover {
            text-decoration: none; /* Supprimer le soulignement au survol */
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste des Campus</h1>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for campus in campus %}
                <tr>
                    <td>{{ campus.nom }}</td>
                    <td>
                        <!-- Bouton Modifier -->
                        <button class = "edit-button" type="submit">Modifier</button>
                        <button class = "delete-button" type="submit">Supprimer</button>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}